.about-header{
    color: whitesmoke;
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 15%;
    justify-content: center;
    align-items: center;
    margin: 0 auto 3rem;
    width: var(--container-width-lg);
}

.about-me img {
    height: 30vh
}
.about-paragraph p {
    text-align: left;
}

